<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Classes</title>
    <link rel="icon" href="https://i0.kym-cdn.com/photos/images/original/000/934/550/6cf.png">

    <style type='text/css'>
    
    span.courseDescription{
        display: none;
        position:absolute;
    }
    div.course:hover > span.courseDescription{
        display: block;
    }
    </style>
</head>

<body>
    <p>list classes</p>
    <p>{{ email }}</p>
    <a href="/logout">LOGOUT</a><br>
    <!--Each row has multiple columns. row[0] accesses the first column of that row-->
    <p id = "msg">{{ message }}</p>
    <ul>
    {% for id in range(classes | length) %}
        <li>

            <div class='course'>
                <span class='courseTitle'> Class: {{ classes[id][1] }} </span>
                <span class='courseDescription'>COURSE DESCRIPTION</span>
            </div>

        </li>
        <form action="/classes" method="post" role="form">
            <button type="submit" name = "class_id" value = {{ id }}>Sign Up</button>
        </form>
        <br>
    {% endfor %}
    </ul>
</body>
</html>