<!DOCTYPE html>

<html lang="en">
    <style type="text/css">
    body{
        font-size:12pt;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-areas:
        "head head head"
        "side login pic"
        "bottom bottom bottom";
    }
    #header{
        grid-area: head;
        background: linear-gradient(to right, rgba(57, 255, 31, 0.36), rgb(50, 112, 25), #055802);
    }
    #login{
        grid-area: login;
    }
    </style>
    <div id="header">
        <img src="../img/HRlogo.png">
    </div>
    <div id="login">
        <p>{{ message }}</p>
    <form action="/" method="post" role="form">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">Login</button>
    </form>
    <a href="https://clients.mindbodyonline.com/classic/mainclass?fl=true&tabID=7"> Mindbody H-Block</a>
    </div>
    <div id="bottom">
        <!-- What do y'all want to put @ the bottom? HRS address, date/time, shameless plugs? we can fill this in @ end-->
    </div>
</body>
</html>