<!DOCTYPE html>

<!--Put images in static folder-->
<style type="text/css">
body{
    font-size:12pt;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
    "head head head"
    "side login login";
}
#header{
    grid-area: head;
    background: linear-gradient(to right, rgba(57, 255, 31, 0.36), rgb(50, 112, 25), #055802);
}
#login{
    grid-area: login;
}

</style>
<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <link rel="icon" href="https://i0.kym-cdn.com/photos/images/original/000/934/550/6cf.png">
</head>
<body>
    <div id="header">
        <img src="../static/HRlogo.jpg" alt = "oof"/>
    </div>
    <div id="login">
        <p id = "msg">{{ message }}</p>
    <form action="/" method="post" role="form" onsubmit="emailCheck()">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">Login</button>
    </form>
    </div>
</body>
<script>
    function emailCheck(){
        if (!(email.indexOf("@") > -1) || !(email.indexOf(".") > -1)){
            event.preventDefault();
            document.getElementById("msg").innerHTML = "Invalid Email input"
        }
    }
</script>
</html>